<div class="bg-white p-4 feed-item rounded-4 shadow-sm mb-3 faq-page">
    
    <div class="row justify-content-center">
        <div class="d-flex flex-column h-600">
                                <div class="mb-3">
        <h5 class="lead fw-bold text-body mb-0">ADD Screening Questions ?</h5>
    </div>
                             
                            </div>
        <div class="col-lg-12">
            <form action="profile.html">
                <div class="input-group mb-4 shadow-sm rounded-4 overflow-hidden py-2 bg-white" id="ADDQns">
                                    @*<span class="input-group-text material-icons border-0 bg-white text-primary">account_circle</span>*@
                                    <input type="text" class="form-control border-0 fw-light ps-1" placeholder=" ADD Screening Questions ? ">
                                    <a href="#" class="text-decoration-none input-group-text bg-white border-0 material-icons text-primary">add_circle</a>
                                </div>
                    <div class="form-floating mb-1 d-flex align-items-cente">
                        <select class="form-select  rounded-5" id="Category1" data-live-search="true" aria-label="Floating label select example">
                            <option>Select a category</option>
                            <option>Marketing &amp; Communication</option>
                            <option>Software Engineering</option>
                            <option>Project Management</option>
                            <option>Finance</option>
                            <option>Retail</option>
                            <option>Sales</option>
                            <option>Manufacturing</option>
                            <option>IT</option>
                            <option>Business Development</option>
                            <option>Human Resources</option>
                            <option>Customer Service</option>
                        </select>
                        <label for="Category1">Category</label>
                       </div>
                        <div class="form-floating mb-1 d-flex align-items-center">
                            <input type="text" class="form-control rounded-5" id="floatingBirth" value="01/12/21" placeholder="DATE OF BIRTH">
                            <label for="floatingBirth">DATE OF BIRTH</label>
                        </div>
                        <div class="form-floating mb-1 d-flex align-items-center">
                            <input type="email" class="form-control rounded-5" id="floatingEmail" placeholder="iamosahan@gmail.com" value="iamosahan@gmail.com">
                            <label for="floatingEmail">EMAIL</label>
                        </div>
                        <div class="form-floating mb-1 d-flex align-items-center">
                            <input type="text" class="form-control rounded-5" id="Comment" placeholder="Comment" value="">
                            <label for="Comment">Comment</label>
                        </div>
                       
                        <div class="d-grid">
                            <button class="btn btn-primary rounded-5 w-100 text-decoration-none py-3 fw-bold text-uppercase m-0">SAVE</button>
                        </div>
            </form>
        </div>
    </div>
</div>