
<div class="modal fade" id="aboutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-4 p-4 border-0 bg-light">
            <div class="modal-header d-flex align-items-center justify-content-start border-0 p-0 mb-2">
                <a href="#" class="text-muted text-decoration-none material-icons back" data-bs-dismiss="modal">arrow_back_ios_new</a>
                <h5 class="modal-title text-muted ms-3 ln-0" id="staticBackdropLabel"><span class="material-icons md-32">account_circle</span></h5>
                <h5 class="modal-title text-muted ms-3 ln-0"><span class="md-10">Add experience</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="padding-top:1%;"></button>
            </div>
            <div id="divAddProfile" class="collapse show">
                <div class="row g-2 mb-1">
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select  rounded-5" id="CompanyName" data-live-search="true" aria-label="Floating label select example">
                            </select>
                            <label for="CompanyName">Company Name</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2 mb-1">
                    <div class="col-md">

                        <div class="form-floating">
                            <input type="text" readonly="readonly" name="date" class="form-control  rounded-5 input-append date datePicker" id="StartDate" style="cursor:pointer; background-color: #FFFFFF">
                            <label for="StartDate">Start Date</label>
                            @* <span class="input-group-btn">
                        <button type="submit" name="search" id="btnStartDate" class="btn btn-flat btn-success datePicker">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>*@
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" readonly="readonly" name="date" class="form-control  rounded-5 input-append date EndDate datePicker" id="EndDate" style="cursor:pointer; background-color: #FFFFFF">
                            <label for="EndDate">End Date</label>
                            @* <span class="input-group-btn">
                        <button type="submit" name="search" id="btnDesigEndDate" class="btn btn-flat btn-success">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>*@
                        </div>
                    </div>
                </div>
                <div class="row g-2 mb-1">
                    <div class="col-md">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isCurrentCompany" name="option2" value="something">
                            <label class="form-check-label" for="isCurrentCompany">I am currently working in this role</label>
                        </div>
                    </div>
                </div>
                <div class="modal-body p-0 mb-1">
                    <div class="form-floating">
                        <select class="form-select  rounded-5 GetHiredCtrl" id="Employmenttype" data-live-search="true" aria-label="Floating label select example">
                        </select>
                        <label for="Employmenttype">Employment type</label>
                    </div>
                </div>
                <div class="modal-body p-0 mb-1">
                    <div class="form-floating">
                        <select class="form-select  rounded-5 GetHiredCtrl" id="Designationtype" data-live-search="true" aria-label="Floating label select example">
                        </select>
                        <label for="Designationtype">Designation</label>
                    </div>
                </div>
                <div class="row g-2 mb-1">
                    <div class="col-md">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isDesignation" name="option2" value="something">
                            <label class="form-check-label" for="isDesignation">This is my Current Designation</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2 mb-1">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" readonly="readonly" name="date" class="form-control  rounded-5 input-append date datePicker" id="DesigStartDate" style="cursor:pointer; background-color: #FFFFFF">
                            <label for="DesigStartDate">Start Date</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" readonly="readonly" name="date" class="form-control  rounded-5 input-append date datePicker" id="DesigEndDate" style="cursor:pointer; background-color: #FFFFFF">
                            <label for="DesigEndDate">End Date</label>
                        </div>
                    </div>
                </div>
                <div class="modal-body p-0 mb-1">
                    <div class="form-floating">
                        <textarea class="form-control rounded-5 border-0 shadow-sm" placeholder="Leave a comment here" id="JobProfile" style="height: 120px"></textarea>
                        <label for="JobProfile">Job Profile</label>
                    </div>
                </div>
                <div class="modal-footer px-1 py-1 rounded-5">

                    <div class="ms-auto m-0">
                        @*<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>*@
                        <button  class="btn btn-primary rounded-5 fw-bold px-3 py-2 fs-6 mb-0 d-flex align-items-center" href="javascript:void(0)" onclick="SaveWorkExp()"><span class="material-icons me-2md-16">send</span>Save</button>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function ()
    {
    });
</script>


